<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>

<p>
  <b>Gear profile:</b>
  <%= @user.gear_profile %>
</p>

<p>
  <b>Rough location:</b>
  <%= @user.rough_location %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Reddit username:</b>
  <%= @user.reddit_username %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
